@model AppliancesShop_Models.OrderHeader

<div class="text-center">

    @if (Model != null)
    {
        <h1 class="text-info">Замовлення створено</h1>
        <p>Замовлення на було успішно створено!</p>
    }
    else
    {


    <h1 class="text-info">Inquiry Confirmation</h1>

        <p>Ми отримали ваше замовлення, і хтось із нашої команди незабаром зв’яжеться з вами!</p>
    }
</div>